body{
    background-color: rgb(228, 239, 245);
    font-family: sans-serif;
    
}
img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
section{
    width: 80%;
    margin: 0 auto;
}
#mainContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
.searchContainer{
    text-align: center;
    padding-top: 50px;
    position: sticky;
    top: 10;
}
#inputBtn{
    height: 23px;
    width: 450px;
    border-radius: 5px;
    border: none;
    background-color: rgb(223, 215, 215);
    font-size: 15px;
    padding: 10px;
}
#searchBtn{
    height: 40px;
    width: 95px;
    border-left: none;
    border-radius: 5px;
    background-color: rgba(247, 71, 71, 0.87);
    color: white;
    cursor: pointer;
}
.mealArea{
    background-color: rgb(255, 255, 255);
    width:300px;
    text-align: center;
    margin:0;
    font-size: 20px;
    border-radius: 15px 15px 8px 8px;
}
.mealDetailsContainer{
    margin: 0 auto;
    width: 450px;
    margin-top: 30px; 
}

#notFoundContainer{
    width: 350px;
    margin: 0 auto;
    font-family: sans-serif;
    display: none;
}
#notFound{
    margin-top: 200px;
    color: gray;
    
}





 